body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul {
    background-color: #333;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

.container {
    width: 50%; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select, form button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

/* Styles for the messages list */
ul.messages-list {
    list-style-type: none;
    padding: 0;
}

ul.messages-list li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul.messages-list li:nth-child(even) {
    background-color: #efefef;
}

ul.messages-list li:hover {
    background-color: #e0e0e0;
}

/* Styles for no messages text */
p.no-messages {
    font-size: 18px;
    color: #666;
    text-align: center;
}
